{% extends 'base.html' %} 
{% block title %} 
    {{ role.name }} ({{role.dia }}) 
{% endblock title %} 

{% block content %}
    <h2>Detalhes do Rolê </h2>
    
    <section class="dados-de-role">
      <img src="{{ role.poster_url }}" alt="Poster do role {{ role.name}}" width="300" />
      <ul>
        <li>Nome:  {{ role.name }}</li>
        <li>Data:  {{ role.dia }}</li>
        <li>Local: {{ role.address }}</li>
        <li><a href="{% url 'roles:update' role.id %}">Editar</a></li>
        <li><a href="{% url 'roles:delete' role.id %}">Apagar</a></li>
      </ul>
    </section>
    
{% endblock content %}