{% extends 'base.html' %} 
{% block title %} 
    {{ role.name }} ({{role.dia }}) 
{% endblock title %} 

{% block content %}
    <h2>Detalhes do Rolê </h2>
    
    <section class="dados-de-role">
      <img src="{{ role.poster_url }}" alt="Poster do role {{ role.name}}" width="300" />
      <ul>
        <li>Nome:  {{ role.name }}</li>
        <li>Data:  {{ role.dia }}</li>
        <li>Local: {{ role.address }}</li>
        <li><a href="{% url 'roles:update' role.id %}">Editar</a></li>
        <li><a href="{% url 'roles:delete' role.id %}">Apagar</a></li>
      </ul>
    </section>
    

<hr>

<section>
    <header>
        <h3>Comentário</h3>
    </header>
    <ul>
        {% if role.comment_set.all %}
            {% for comment in role.comment_set.all %}
                <figure>
                    <blockquote>
                        "{{ comment.text }}"
                    </blockquote>
                    <figcaption>—{{ comment.author }} ({{ comment.dia }})</figcaption>
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhum comentário para este filme.</p>
        {% endif %}
      </ul>
    
      <hr>
  
      <a href="{% url 'roles:comment' role.pk %}"><button>Deixe seu comentário</button></a>
</section>

{% endblock content %}